<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/global.css" />
  <title>mistertfy64 OrdinaryQuizGame</title>
</head>

<body>
  <main>
    {{{body}}}
    <br>
  </main>
  {{#each scripts}}
  <script src="{{script}}"></script>
  {{/each}}
</body>
<p class="centered" style="font-size:10px">
  Created by mistertfy64&nbsp;-&nbsp;<a href="https://github.com/mistertfy64/OrdinaryQuizGame">Repository</a>
</p>

</html>