<div class="content-box content-box--neutral">
  <div class="split--horizontal">
    <div>OrdinaryQuizGame v0.1.0</div>
    <div><input id="quiz-id" type="text" placeholder="Enter Quiz ID...">&nbsp;<button
        onclick="goToQuiz()">Search</button></div>
  </div>
  <br>
  <h1>Create quizzes on just about anything.</h1>
  Whether its about yourself, your school, or even your secrets, you can create a quiz about it and share them with your
  friends.
  <br>
  <p style="text-align:center">
    <a href="/create"> <button>Create New Quiz</button>
    </a>
  </p>
</div>