<div class="content-box content-box--neutral">
  <div class="split--horizontal">
    <div>OrdinaryQuizGame v0.1.0</div>
    <div><input type="text" placeholder="Enter Quiz ID...">&nbsp;<button>Search</button></div>
  </div>
  <br>
  <h1>Quiz Name Here</h1>
  <br>
</div>

<form id="questions">
  {{#each questions}}
  {{> question this }}
  {{/each}}
</form>