<div class="content-box content-box--neutral">
  <div class="split--horizontal">
    <div>OrdinaryQuizGame v0.1.0</div>
    <div><input type="text" placeholder="Enter Quiz ID...">&nbsp;<button>Search</button></div>
  </div>
  <br>
  <h1>{{quizName}}</h1>
  <br>
</div>

<form action="/submit/{{quizID}}" method="POST" id="questions">
  {{#each questions}}
  {{> question this }}
  {{/each}}
  <div class="content-box content-box--neutral">
    <div class="split--horizontal">
      <input name="name" type="text" placeholder="Name (optional)"> <input type="submit">
    </div>
  </div>
</form>